<header>
  <nav class="right box">
      <a data-icon="remove" {{action clearCompletedTodos target="Todos.todosController"}}></a>
  </nav>
  <div class="centered title with-subtitle">
    Todos
    <small class="subtitle">{{Todos.todosController.remaining}} remaining</small>
  </div>
</header>
<article id="main-article" class="list indented scroll">
  <form class="margined" class="one row" onsubmit="return false;">
    {{view Todos.CreateTodoView id="new-todo" placeholder="What needs to be done?"}}
  </form>
  <div class="list indented scroll">
    <ul>
    {{#each Todos.todosController}}
      {{#view Todos.CheckView valueBinding="isDone"}}
        <span {{bindAttr class="view.icon"}}></span>
        <a href="#">
          <strong>{{title}}</strong>
          <small>&nbsp;</small>
        </a>
      {{/view}}
    {{/each}}
    </ul>
  </div>
  <div class="one row">
    {{view Ember.Checkbox class="mark-all-done"
      disabledBinding="Todos.todosController.isEmpty"
      valueBinding="Todos.todosController.allAreDone"}}
    <label>Mark all as done</label>
  </div>
</article>
<footer>
  <nav>
    <a href="#layout-art1" data-router="article" class="current" data-icon="home"></a>
  </nav>
</footer>
